.main-about{
   
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-size: cover; /* Set the image to cover all the div */
    background-repeat: no-repeat; /* Commonly used for that situation */
   
}
h1{
    text-align: center;
   margin-top: 55px;
	color: #4076eb;
	font-weight: 600px;
	font-family: 'Ultra', sans-serif;   
	font-size: 26px;
	line-height: 22px;
	text-transform: uppercase;
	text-shadow: 0 2px rgb(55, 71, 214), 0 3px #172492;
   
}
.text{
    margin-left: 100px;
    margin-right: 700px;
    margin-top: 100px;
}


h2{
    text-align: center;
    color: rgb(43, 112, 131);

}
p{
    color: #312b77;
}
