.homepage{
    margin-left: 80px;
    margin-right: 700px;
    margin-top: 100px;
    
   
}
.mainhomepage{
    background-color: rgb(79, 72, 47);
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-size: cover; /* Set the image to cover all the div */
    background-repeat: no-repeat;
}