.landingmain {
  width: 100 wv;
  height: 100vh;
  background-image: url("/home/ndakala/Downloads/projects/Documents/reactprojects/shopify/public/assets/backgroundlanding.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.heading {
  font-size: 50px;
  color: rgb(79, 204, 189);
  margin-left: 90px;
  padding-top: 50px;
}

.text {
  color: rgb(229, 233, 235);
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.getstarted {
  color: rgb(226, 221, 221);
  border: none;
  font-family: arial, sans-serif;
  cursor: pointer;
  border-radius: 20px;
  width: 100px;
  height: 40px;
  font-size: 20px;
  margin-left: 190px;
  margin-top: 70px;
}
