.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.9rem;
  /* max-width: 1100px; */
  margin: 2rem auto -6rem;
  height: 100vh;
}

.intro-text h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.intro-text h3 {
  margin-bottom: 0.5rem;
}

.hero p {
    color: rgb(54, 204, 87)
}

.hear {
  color: rgb(54, 204, 87)
}

.connecting {
    color: rgb(54, 204, 87)
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 0.6rem;
  border: none;
  font-size: 1.4rem;
  border-radius: 5px;
  color: #fff;
}

.red {
  background-color: var(--secondary-color);
  margin-right: 1.5rem;
}

.red:hover {
  background-color: #f1262d;
  color: #fff;
}

.blue {
  background-color: var(--primary-color);
}

.blue:hover {
  background-color: #095cf7;
  color: #fff;
}

iframe {
  max-width: 30rem;
  border-top: 40px groove var(--primary-color);
  border-bottom: 40px groove var(--primary-color);
  border-right: 28px solid var(--secondary-color);
  border-left: 28px solid var(--secondary-color);
}

.stand-1 {
  height: 90px;
  width: 6px;
  background-color: var(--primary-color);
  transform: rotate(40deg);
  position: relative;
  top: -16px;
  left: 200px;
}
.stand-2 {
  height: 90px;
  width: 6px;
  background-color: var(--secondary-color);
  transform: rotate(-40deg);
  position: relative;
  top: -105px;
  left: 255px;
}
.primary-reg-button {
  margin-left: 20px;
  color: rgb(63, 129, 187);
  background-color: rgb(72, 255, 0);
  border: none;
  width: 80px;
  height: 40px;
  border-radius: 30px;
}
.primary-button {
  color: rgb(63, 129, 187);
  background-color: rgb(72, 255, 0);
  border: none;
  border-radius: 30px;
  width: 70px;
  height: 40px;
}
.hero1 {
  background-image: url("/home/ndakala/Downloads/projects/Documents/reactprojects/shopify/src/components/images/landing .jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
