.navigation {
  height: 60px;
  width: 100%;
  display: flex;

  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  background-color: rgba(91, 235, 25, 0.932);
  color: rgb(231, 231, 231);
}
.navigation-menu {
  margin-left: auto;
}
.navigation-menu ul {
  display: flex;
  padding: 0;
}
.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
  float: left;
}
.navigation-menu li a {
  text-decoration: none;
  width: 100%;
  display: block;
  padding: 8px;
  
}
h1{
    color: rgb(79, 79, 189);
}