body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(206, 218, 195);
  font-family: "lato", sans-serif;
}
.signin {
  background-color: rgb(206, 218, 195);
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 400px;
  border-radius: 8px;
  padding: 20px 40px;
  position: relative;
  top: 0px;
  bottom: 40px;
  left: 0;
  right: 0;
  color: beige;
  margin: auto;
}
