body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "lato", sans-serif;
}
.signin {
  background-color: rgb(166, 255, 0);
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 400px;
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
  position: absolute;
  top: 0px;
  bottom: 40px;
  left: 0;
  right:0;
  color: beige;
  margin: auto;
}
